h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-button-bg);
    border-radius: 100px;
    border: 3px solid var(--primary-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-button-active);
}

::-webkit-scrollbar-thumb:active {
    background: #3A4039;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-button-bg) var(--primary-bg);
}